<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dejia.anju">

    <application
        android:name="com.dejia.anju.DeJiaApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--启动页-->
        <activity
            android:name="com.dejia.anju.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--主页面-->
        <activity
            android:name="com.dejia.anju.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.dejia.anju.activity.OneClickLoginActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.dejia.anju.activity.SendVerificationCodeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.dejia.anju.activity.VerificationCodeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.dejia.anju.activity.QRCodeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.dejia.anju.activity.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name="com.dejia.anju.activity.CancellationActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.dejia.anju.activity.EditUserInfoActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.dejia.anju.activity.EditNickNameActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.dejia.anju.activity.EditSexActivity"
            android:screenOrientation="portrait"></activity>

        //极光推送相关
        <!-- Since JCore2.0.0 Required SDK核心功能-->
        <!-- 可配置android:process参数将Service放在其他进程中；android:enabled属性不能是false -->
        <!-- 这个是自定义Service，要继承极光JCommonService，可以在更多手机平台上使得推送通道保持的更稳定 -->
        <service android:name="com.dejia.anju.service.PushService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>
        <!-- Required since 3.0.7 -->
        <!-- 新的 tag/alias 接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 3.3.0开始所有事件将通过该类回调 -->
        <!-- 该广播需要继承 JPush 提供的 JPushMessageReceiver 类, 并如下新增一个 Intent-Filter -->
        <receiver
            android:name="com.dejia.anju.receiver.MessageReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="com.dejia.anju" />
            </intent-filter>
        </receiver>
    </application>

    <meta-data
        android:name="android.max_aspect"
        android:value="2.1" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- required -->
</manifest>