<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dejia.anju">

    <application
        android:name="com.dejia.anju.DeJiaApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage = "true"
        android:theme="@style/AppTheme">
        <!--启动页-->
        <activity
            android:name="com.dejia.anju.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--主页面-->
        <activity
            android:name="com.dejia.anju.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.dejia.anju.activity.OneClickLoginActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.dejia.anju.activity.SendVerificationCodeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.dejia.anju.activity.VerificationCodeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.dejia.anju.activity.QRCodeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.dejia.anju.activity.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name="com.dejia.anju.activity.CancellationActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.dejia.anju.activity.EditUserInfoActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.dejia.anju.activity.EditNickNameActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.dejia.anju.activity.EditSexActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.dejia.anju.activity.SearchActivity"
            android:screenOrientation="portrait"></activity>
        //极光推送相关
        <!-- Since JCore2.0.0 Required SDK核心功能-->
        <!-- 可配置android:process参数将Service放在其他进程中；android:enabled属性不能是false -->
        <!-- 这个是自定义Service，要继承极光JCommonService，可以在更多手机平台上使得推送通道保持的更稳定 -->
        <service android:name="com.dejia.anju.service.PushService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>
        <!-- Required since 3.0.7 -->
        <!-- 新的 tag/alias 接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 3.3.0开始所有事件将通过该类回调 -->
        <!-- 该广播需要继承 JPush 提供的 JPushMessageReceiver 类, 并如下新增一个 Intent-Filter -->
        <receiver
            android:name="com.dejia.anju.receiver.MessageReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="com.dejia.anju" />
            </intent-filter>
        </receiver>

        //高德地图
        <service android:name="com.amap.api.location.APSService"
            android:foregroundServiceType="location"></service>
        <meta-data android:name="com.amap.api.v2.apikey"
            android:value="c57834b4f4b1849f8763636613d70f8f">
        </meta-data>
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    //高德定位权限
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!--用于写入缓存数据到扩展存储卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
    <!--如果设置了target >= 28 如果需要启动后台定位则必须声明这个权限-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <!--如果您的应用需要后台定位权限，且有可能运行在Android Q设备上,并且设置了target>28，必须增加这个权限声明-->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

</manifest>